@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,300;400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
   height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;
}

header {
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 72px;
}


.subheader {
    font-size: 36px;
   margin: 16px 0 24px 0;

}


button {
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}


a {
    color: black;
    font-size: 24px;
    font-weight: bold;
}


logo {
width:  300px;
}

ul {
    display: flex;
   
}

li {
    list-style: none;
   padding-left:  16px;
}  

.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;

}  

#about {
    padding: 48px 0;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section_description {
   display: flex;
   